@model personal_web.Models.About

@{
    ViewBag.Title = "Create";
}

@{
    string succesMessage = TempData["Sucess"] as string;
    string errorMessage = TempData["Fail"] as string;
}

@{
    if (!string.IsNullOrEmpty(succesMessage))
    {
        <div class="alert alert-success alert-fixed" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Sucess!</strong> '@succesMessage'.

        </div>

    }

    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> '@errorMessage'.
        </div>
    }
}



<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h6>About Create</h6></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false"><h6>Abouts Detais Index</h6></a>
    </li>

</ul>


<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        @using (Html.BeginForm("Create", "Abouts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    <input name="Image" value="ImageString" style="display:none" />
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.Editor("ImageFile", new { htmlAttributes = new { @class = "form-control", type = "file" } })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Qutation, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Qutation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Qutation, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        <textarea rows="2" id="Description" name="Description" class="form-control"></textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-info" />
                    <input type="reset" value="Clear" class="btn btn-secondary ml-2" />
                </div>
            </div>
        }

    </div>
    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
        @Html.Action("Index", "Abouts")
    </div>
</div>

@section Scripts{

    <link href="~/Scripts/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {


            $("#AboutTableIndex").DataTable();


        });


    </script>



}
